@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    background-color: #2f2f30;
}

.title {
    background-color: #57cdac;
    font-family: 'Poppins', sans-serif;
}

.title_button {
    position: relative;
}


#app_card {
    border-radius: 10%;
    border-color: #57cdac;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    background: #36374f;
    padding: 20px;
    width: 200px;
    height: auto;
    color: white;
}