@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General Styles */

body {
    background-color: #2f2f30;
    overflow: hidden;
    margin: 0;
}

.title {
    background-color: #57cdac;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 0;
}

.title_button {
    margin: 0 10px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 70vw;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: auto; /* Center horizontally */
}

.card {
    z-index: 1;
    border-radius: 10%;
    border: 2px solid #57cdac;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    background: #36374f;
    padding: 20px;
    width: 300px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-name {
    margin: 0;
}

.card-version,
.card-required-version {
    margin: 10px 0;
}

.search-bar {
    padding: 8px;
    margin-bottom: 10px;
    width: 70%;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.view-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* ... (Other styles remain unchanged) */

/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
    /* Styles for screens up to 768 pixels wide */
    .cards {
        width: 90vw;
    }

    .card {
        width: 80vw;
    }

    /* ... (Adjust other styles as needed) */
}

@media only screen and (max-width: 480px) {
    /* Styles for screens up to 480 pixels wide */
    .cards {
        width: 95vw;
    }

    .card {
        width: 90vw;
    }

    /* ... (Adjust other styles as needed) */
}
